:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6fff57;
    --branco: #FFFFFF;
    --botao-ativo: rgba(58,55,94,0,5);
    
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}
